<app-header></app-header>

<p appHighlight [highLightColor]="'violet'" *ngIf="selectedArrayItem">Welcome {{ selectedArrayItem }}</p>

<app-sign-up [data]="arrayItems" (onDataSelect)="selectedArrayItem = $event"></app-sign-up>

<!-- <div id="mydiv" [ngClass]="{
    c1: isC1,
    c2: isC2
}">Hello World!</div> -->

<!-- <div id="mydiv" [attr.style]="styles">Hello World!</div> -->
<!-- <div id="mydiv" [ngStyle]="{
    color: isC1 ? 'red' : 'black',
    backgroundColor: isC2 ? 'green': 'blue'
}">Hello World!</div> -->

change color

<button (click)="bgColor = 'red'">Red</button>
<button (click)="bgColor = 'green'">Green</button>
<button (click)="bgColor = 'blue'">Blue</button>


<div id="oneWay" [class]="classes">One Way1</div>

<button (click)="showBgColorVaribaleValue()"> Show bg color value</button>


one way 
<!-- <input type="text" [value]="bgColor" (input)="bgColor = $event.target.value"> -->

two Way

<input type="text" [(ngModel)]="bgColor" >


{{ bgColor }}

<!-- strcutural directives default -->

<div *ngIf="isC1">is Visible</div>
<button (click)="isC1 = !isC1">toggle</button>


<div appHighlight [highLightColor]="'red'" *ngFor="let item of arrayItems; let i = index">{{ i + 1 }}:{{ item }}</div>

<!-- template variable -->

<input type="text" id="myinput" #myinput required>
<button (click)="show( myinput.required )">show</button>

<!-- forms -->

<br><br><br>
<form #myForm="ngForm" class="myform">
    Name:<input type="text" ngModel name="name" required #nameInp="ngModel"> <br>
    <p style="color: red;" *ngIf="nameInp.errors && nameInp.errors.required && nameInp.dirty">Name is required.</p>
    City<input type="text" ngModel name="city" #cityInp="ngModel" required><br>
    <p style="color: red;" *ngIf="cityInp.errors && cityInp.errors.required && cityInp.dirty">City is required.</p>
    <button (click)="show( myForm.value )">submit</button>
</form>



<!-- <div [attr.style]="sanitization.bypassSecurityTrustStyle('color:red')" >Test</div> -->
<!-- 
<div [ngSwitch]="switchValue">
    <p *ngSwitchCase="1">value is 1</p>
    <p *ngSwitchCase="2">value is 2</p>
    <p *ngSwitchDefault>Nothing matched</p>
</div> -->

<!-- <div *ngIf="true">
    <input type="text" #varIn>
    <button (click)="show( varIn.value )">Show value</button>
</div> -->

