<app-header></app-header>

<h1>Welcome</h1>

<app-sign-up></app-sign-up>

<!-- <div id="mydiv" [ngClass]="{
    c1: isC1,
    c2: isC2
}">Hello World!</div> -->

<!-- <div id="mydiv" [attr.style]="styles">Hello World!</div> -->
<!-- <div id="mydiv" [ngStyle]="{
    color: isC1 ? 'red' : 'black',
    backgroundColor: isC2 ? 'green': 'blue'
}">Hello World!</div> -->

change color

<button (click)="bgColor = 'red'">Red</button>
<button (click)="bgColor = 'green'">Green</button>
<button (click)="bgColor = 'blue'">Blue</button>


<div id="oneWay" [style.backgroundColor]="bgColor">One Way</div>

<button (click)="showBgColorVaribaleValue()"> Show bg color value</button>


one way 
<!-- <input type="text" [value]="bgColor" (input)="bgColor = $event.target.value"> -->

two Way

<input type="text" [(ngModel)]="bgColor" >


{{ bgColor }}