<p>sign-up works!</p>
<ul>
    <li *ngFor="let item of data" (click)="emitSelectedItem( item )">{{ item }} </li>
</ul>


<form [formGroup]="signUpForm">
    <div>
        Name: <input type="text" formControlName="name" >
        <p style="color: red;" *ngIf="signUpForm.get('name').errors && signUpForm.get('name').errors.required && signUpForm.get('name').touched">Name is required.</p>
    </div>
    <div>
        Email: <input type="text" formControlName="email" >
    </div>
    <div>
        Password: <input type="text" formControlName="password" >
    </div>
    <button (click)="signUp()" [disabled]="signUpForm.invalid">Submit</button>
</form>